<%= simple_form_for(@team, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, label: "Nom" %>
    <%= f.input :user_count, label: "Nombre d'opérateurs", placeholder: "Maximum = 3" %>
    <%= f.hidden_field :calendar_id, value: params[:calendar_id] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Créer" %>
    <%= button_tag 'Annuler', class: 'btn btn-default', :data => { dismiss: 'modal'} %>
  </div>
<% end %>
