<%= simple_form_for([@equipe, @personne]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nom", placeholder: 'NOM, PRÉNOM' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enregistrer' %>
    <%= link_to 'Retour', edit_equipe_path(@equipe), class: "btn btn-default"%>
  </div>
<% end %>
