<%= simple_form_for(@taux_expe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :taux, label: 'Taux' %>
    <%= f.input :obj, label: 'Objectif' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer" %>
    <%= link_to 'Retour', indicateurs_path, class: 'btn btn-default' %>
  </div>
<% end %>
