<style>
th {
  padding:5px;
}

td {
  padding-bottom:5px;
  padding-right:5px;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Rapports</h1>

<table>
  <thead>
    <tr>
      <th>Semaine</th>
      <th>Commandes<br>Affectées</th>
      <th>PDP</th>
      <th>Commandes<br>Totales</th>
      <th>DAV</th>
      <th>Deals signés<br>en attente</th>
      <th>PDP+1</th>
      <th>Commandes<br>Totales+1</th>
      <th>Machine</th>
      <th coldspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rapports.sort_by(&:created_at).each do |rapport| %>
      <tr>
        <td><%= rapport.week %></td>
        <td><%= rapport.cas %></td>
        <td><%= rapport.pdp %></td>
        <td><%= rapport.cta %></td>
        <td><%= rapport.dav %></td>
        <td><%= rapport.dsa %></td>
        <td><%= rapport.next_pdp %></td>
        <td><%= rapport.next_cas %></td>
        <td><%= rapport.machine.name %></td>
        <td><%= link_to 'Supprimer', machine_rapport_path(rapport.machine_id, rapport), method: :delete, data: { confirm: 'Êtes vous sûr?' }, class: 'btn btn-danger', style: 'padding:5px;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Semaine</th>
      <th>Stock Courant</th>
      <th>Réception Courant</th>
      <th>Stock Attendu</th>
      <th>Réception Attendu</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.sort_by(&:created_at).each do |stock| %>
      <tr>
        <td><%= stock.week %></td>
        <td><%= stock.smc %></td>
        <td><%= stock.rmc %></td>
        <td><%= stock.sma %></td>
        <td><%= stock.rma %></td>
        <td><%= link_to 'Modifier', edit_stock_path(stock) %></td>
        <td><%= link_to 'Supprimer', stock, method: :delete, data: { confirm: 'Êtes vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Backlogs</h1>

<table>
  <thead>
    <tr>
      <th>Semaine</th>
      <th>Montant Facturation</th>
      <th>Montant Attendu</th>
      <th>Montant Backlog</th>
      <th>Objectif Backlog</th>
      <th>YTD</th>
      <th>YTD N-1</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @backlogs.each do |backlog| %>
      <tr>
        <td><%= backlog.week %></td>
        <td><%= backlog.mfc %></td>
        <td><%= backlog.mac %></td>
        <td><%= backlog.mb %></td>
        <td><%= backlog.ob %></td>
        <td><%= backlog.ytd %></td>
        <td><%= backlog.ytdl %></td>
        <td><%= link_to 'Modifier', edit_backlog_path(backlog) %></td>
        <td><%= link_to 'Supprimer', backlog, method: :delete, data: { confirm: 'Êtes vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Retour', suivi_path, class: 'btn btn-default'%>