<%= render 'indicateurs/labels' %>
<script>
Chart.defaults.global.plugins.datalabels = {
    color: 'white',
    font: { size: 10 },
    display: function(context) {
        if (context.dataset.type == 'bar') {
            return context.dataset.data[context.dataIndex];
        } else {
            return 0
        }
    }
}
</script>

<h1>Suivi d'activité</h1>

<p>Aujourd'hui nous sommes en semaine <%= Date.today.cweek %></p>

<div class="row" style="margin-top:50px;">
    <div class="col-md-4">
        <% @machines.each do |m| %>
            <div class="btn-group", style="width:100%;">
                <%= link_to "#{m.name} - S#{m.last_week}", new_machine_rapport_path(m.id), class:"btn btn-default", style: "width:90%;" %>
                <%= link_to "X", machine_path(m), class:"btn btn-danger", method: :delete, confirm: "Êtes vous sûr?", style:"width:10%;"%>
            </div>
        <% end %>
            
            <%= link_to "Nouvelle machine", new_machine_path, class: "col-4 btn btn-info btn-block", style:'margin-top:5px;' %>
            
    </div>

    <div class="col-md-4">
        <div class="btn-group", style="width:100%;">
            <%= link_to "Etat du stock - #{@stock_last_week}", new_stock_path, class:"btn btn-default", style:"width:80%;" %>
        </div>
    </div>

    <div class="col-md-4">
        <div class="btn-group", style="width:100%;">
            <%= link_to "Consommables et pièces - #{@backlog_last_week}", new_backlog_path, class:"btn btn-default", style:"width:80%;" %>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4" style='margin-top:50px;'>
        <%= link_to 'Risques d\'approvisionnement', new_appro_path, class: 'btn btn-default', style: 'width:100%;' %>
        <%= link_to 'Projection gains achats de production', new_projection_path, class: 'btn btn-default', style: 'width:100%;' %>
    </div>

    <div class="col-md-4" style='margin-top:50px;'>
        <%= link_to 'Contrôle en attente', new_suivi_perf_path, class: 'btn btn-default', style: 'width:100%;' %>
        <%= link_to 'Temps Fab résolution de problème (heures)', new_temps_fab_path, class: 'btn btn-default', style: 'width:100%;' %>
        <%= link_to 'Nombre de garanties', new_nb_garanty_path, class: 'btn btn-default', style: 'width:100%;' %>
    </div>

    <div class="col-md-4" style='margin-top:50px;'>
        <%= link_to 'Suivi des indicateurs', new_suivi_infic_path, class: 'btn btn-default', style: 'width:100%;' %>
    </div>
</div>

<%= form_tag suivi_path, { :method => :post, style: 'margin-top:100px;margin-bottom:100px;' } do %>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <%= submit_tag "Chargement...", id: "get_pdf",
                                        class: "btn btn-primary",
                                        disabled: true,
                                        data: { disable_with: false } %>
        <%= link_to 'Modifier les données', suivi_bugfix_path, class: 'btn btn-danger', style: 'margin-left:10px;' %>
        </div>
    </div>

    <% @machines.each do |m| %>
        <%= hidden_field_tag "#{m.underscore_id}_base64".to_sym %>
    <% end %>    
    <%= hidden_field_tag "stock_base64".to_sym %>
    <%= hidden_field_tag "backlog_base64".to_sym %>
    <%= hidden_field_tag "ytd_base64".to_sym %>
    <%= hidden_field_tag "prod_base64".to_sym %>
    <%= hidden_field_tag "risques_base64".to_sym %>
    <%= hidden_field_tag "achat_base64".to_sym %>
    <%= hidden_field_tag "ctrl_base64".to_sym %>
    <%= hidden_field_tag "res_prob_base64".to_sym %>
    <%= hidden_field_tag "nb_garanti_base64".to_sym %>
    <%= hidden_field_tag "indics_base64".to_sym %>

<% end %>

<% @machines.each do |m| %>
    <canvas id="<%= m.underscore_id %>" style="display: inline-block;"></canvas>
<% end %>
<canvas id="stock" style="display: inline-block;"></canvas>
<canvas id='backlog' style="display: inline-block;"></canvas>
<canvas id='ytd' style="display: inline-block;"></canvas>

<canvas id='prod' style="display: inline-block;"></canvas>
<canvas id='risques' style="display: inline-block;"></canvas>
<!-- Tableau simple -->
<canvas id='achat' style="display: inline-block;"></canvas>
<canvas id='ctrl' style="display: inline-block;"></canvas>
<canvas id='res_prob' style="display: inline-block;"></canvas>
<canvas id='nb_garanti' style="display: inline-block;"></canvas>
<!-- Commentaires -->
<canvas id='indics' style="display: inline-block;"></canvas>

<%= render 'static/charts/machines' %>

<%= render 'static/charts/stock' %>

<%= render 'static/charts/backlog' %>

<%= render 'static/charts/productivite' %>

<%= render 'static/charts/risques' %>

<%= render 'static/charts/achat' %>

<%= render 'static/charts/ctrl' %>

<%= render 'static/charts/res_prob' %>

<%= render 'static/charts/nb_garanti' %>

<%= render 'static/charts/indics' %>

<script>
setTimeout(() => {
    $("#get_pdf").prop('value', 'Rapport PDF');
    $("#get_pdf").prop( "disabled", false );
}, 2000);
</script>