<div>
    <div>
        Efficacité
        <%= link_to "Analyser efficacite", indicateurs_production_new_path, class: 'btn btn-default' %>
        <%= link_to "Paramètres", equipes_path, class: 'btn btn-default' %>
    </div>

    <div>
        2
        <%= link_to "Nouvelle données pour ", "", class: 'btn btn-default' %>
    </div>

    <div>
        3
        <%= link_to "Nouvelle données pour ", "", class: 'btn btn-default' %>
    </div>

    <div>
        4
        <%= link_to "Nouvelle données pour ", "", class: 'btn btn-default' %>
    </div>

    <div>
        5
        <%= link_to "Nouvelle données pour ", "", class: 'btn btn-default' %>
    </div>

    <div>
        6
        <%= link_to "Nouvelle données pour ", "", class: 'btn btn-default' %>
    </div>

    <div>
        7
        <%= link_to "Nouvelle données pour", "", class: 'btn btn-default' %>
    </div>
</div>

<div>
    