<p id="notice"><%= notice %></p>

<p>
  <strong>Mfc:</strong>
  <%= @backlog.mfc %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @backlog.mac %>
</p>

<p>
  <strong>Mb:</strong>
  <%= @backlog.mb %>
</p>

<p>
  <strong>Ob:</strong>
  <%= @backlog.ob %>
</p>

<p>
  <strong>Quart:</strong>
  <%= @backlog.quart %>
</p>

<p>
  <strong>Week:</strong>
  <%= @backlog.week %>
</p>

<%= link_to 'Edit', edit_backlog_path(@backlog) %> |
<%= link_to 'Back', backlogs_path %>
